<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h6 class="mb-0">Movies</h6>
          </div>
          <div class="col-6 text-end">
            <a class="btn bg-gradient-dark mb-0" href="/admin/movies/new"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add New Movie</a>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Movie</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Director</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Genre</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Release</th>
              <th class="text-secondary opacity-7"></th>
            </tr>
            </thead>
            <tbody>
            <% @movies.each do |movie| %>
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div>
                      <img src="<%= movie.image %>" class="avatar avatar-sm me-3" alt="user1">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm"><%= movie.TMovie_title %></h6>
                      <p class="text-xs text-secondary mb-0"><%= movie.TMovie_actors %></p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0"><%= movie.TMovie_director %></p>
                  <p class="text-xs text-secondary mb-0">Organization</p>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0"><%= movie.TMovie_genre %></p>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold"><%= movie.TMovie_release %></span>
                </td>
                <td class="align-middle">
                  <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                    Edit
                  </a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>